MSSQL_PID=Developer
MSSQL_SA_PASSWORD=CHANGE_ME

SQL_PORT=1433

ASPNETCORE_ENVIRONMENT=Development

CONNECTION_STRING=Server=sqlserver,1433;Database=AIPortfolioDb;User Id=sa;Password=CHANGE_ME;TrustServerCertificate=True;Encrypt=False

JWT_ISSUER=CHANGE_ME
JWT_AUDIENCE=CHANGE_ME
JWT_SECRET=CHANGE_ME

GEMINI_API_KEY=CHANGE_ME
GEMINI_MODEL=CHANGE_ME

GOOGLE_CLIENT_ID=CHANGE_ME

BACKEND_PORT=8080
FRONTEND_PORT=80
